<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid m-4">
<div class="row mt-5">
    <div class="col-md-5">
        <form  method="post" th:action="@{'/book/edite/'+${bookDto.id}}" >
        <div class="text-center h4">
                <label class="form-control" style="background: #37d344">Book edite</label>
            </div>

            <div class="border-secondary" style="background: #006fff">
                <div class="form-group row m-2">
                    <div class="col-sm-3">
                        <label class="btn btn-primary form-control">Name</label>
                    </div>
                    <div class="col-sm-9">
                        <input name="name" class="form-control" th:field="*{bookDto.name}" placeholder="Category name">
                    </div>
                </div>

                <div class="form-group row m-2">
                    <div class="col-sm-3">
                        <label class="btn btn-primary form-control">Library:</label>
                    </div>
                    <div class="col-sm-9">
                        <select name="library" class="form-select"  aria-label="Default select example"  >
                            <option  th:field="*{bookDto.library}" th:each="lib:${libraries}" th:value="${lib.getId()}" th:text="${lib.getName()}" ></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row m-2">
                    <div class="col-sm-3">
                        <label class="btn btn-primary form-control">Category:</label>
                    </div>
                    <div class="col-sm-9">
                        <select name="categoryList" aria-label="Default select example" multiple="multiple" class="form-control"  >
                            <option  th:each="cat:${categories}" th:value="${cat.getId()}" th:text="${cat.getName()}" th:field="*{bookDto.categoryList}"></option>
                        </select>
                    </div>
                </div>


                <div class="form-group row m-2">
                    <div class="col-sm-3">
                        <label class="btn btn-primary form-control" >Active</label>
                    </div>
                    <div th:name="active" class="col-sm-5" >
                        <input th:field="*{bookDto.active}" class="form-check-input m-2" type="checkbox"/>
                    </div>
                    <div class="btn input-group-text">
                        <button class="btn btn-primary m" type="submit" style="background: white;color: black">Save</button>
                        <button class="btn border-secondary" type="reset" style="background: gray;">Reset</button>
                    </div>
                </div>
            </div>
    </form>
    </div>
    <div class="col-md-7">
        <table class="table table-bordered" style="max-width: 800px">
            <thead class="table-dark">
            <tr class="text-center">
                <th >Name</th>
                <th>Library</th>
                <th>Active</th>
                <th>Code</th>
                <th>Categories</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tr th:each="book:${books}">
                <td class="h5" style="color: darkblue" th:text="${book.getName()}"></td>
                <td class="h6" th:text="${book.getLibrary().getName()}"></td>
                <td class="h6" style="background: #9dd983;color: #151414" th:text="${book.isActive()}"></td>
                <td th:text="${book.code}"></td>
                <td>
                    <h6 th:each="cate: ${book.getCategoryList()}" th:text="'* '+${cate.getName()}"></h6>

                </td>
                <td class="text-center">
                    <a class="btn border-secondary" style="background: #d05858" th:href="@{'/book/delete/'+${book.getId()}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>
</body>
</html>